env: "${ENV}" # This will be replaced by the ENV variable

log:
  log_level: "${LOG_LEVEL}"
  #    - "INFO", "WARN", "ERROR", "DEBUG" - and environment specific log level


cache:
  enabled: true
  default_cache_timeout: 15


auth:
  cors_allowed_origins:
    - "http://localhost:3000"
    - "http://localhost:3001"
    - "https://localhost:9001"

addr:
  host: 127.0.0.1
  port: 8900

auth_server:
  host: "localhost"
  port : 9443
  adu_is_hostname : "localhost"
  cookieDomain: "localhost"
  introspectionEndpoint: "/oauth2/introspect"
  tokenEndpoint: "/oauth2/token"
  revocationEndpoint: "/oauth2/revoke"
  claimsEndpoint: "api/server/v1/claim-dialects"
  client_id: "A5XX_NeBFi6Cf_4Zkn551xTdXnAa"
  client_secret: "${AUTH_SERVER_CLIENT_SECRET}"
  admin_username: "admin"
  admin_password: "${AUTH_SERVER_ADMIN_PASSWORD}"
  isSystemAppGrantEnabled: false
  introspection_client_id : "cds_introspection_client"
  introspection_client_secret: "${INTROSPECTION_CLIENT_SECRET}"
  required_scopes:
    profile:create:
      - "internal_cds_profile_create"
    profile:update:
      - "internal_cds_profile_update"
    profile:view:
      - "internal_cds_profile_view"
    profile:delete:
      - "internal_cds_profile_delete"

    unification_rules:view:
      - "internal_cds_unification_rule_view"
    unification_rules:create:
      - "internal_cds_unification_rule_create"
    unification_rules:update:
      - "internal_cds_unification_rule_update"
    unification_rules:delete:
      - "internal_cds_unification_rule_delete"

    profile_schema:view:
      - "internal_cds_profile_schema_view"
    profile_schema:create:
      - "internal_cds_profile_schema_create"
    profile_schema:update:
      - "internal_cds_profile_schema_update"
    profile_schema:delete:
      - "internal_cds_profile_schema_delete"

    admin_config:view:
      - "internal_cds_admin_config_view"
    admin_config:update:
      - "internal_cds_admin_config_update"


sync:
  schema:
    enabled: true
    interval: 3600 # in seconds

datasource:
  type: "postgres"
  hostname: "localhost"
  port: 5432
  username: "postgres"
  password: "${DB_PASSWORD}"
  name: "cds_db"
  sslmode: disable

tls:
  mtls_enabled: true
  cert_dir: "/etc/certs"
  server_cert: "server.crt" #filename
  server_key: "server.key" #filename
  client_cert: "client.crt"   #filename
  trust_store: "trust_store.pem"      #filename
