env: {{ .Values.cloud.deployment.cds.config.env }}

log:
  log_level: {{ .Values.cloud.deployment.cds.config.logLevel }} # "INFO", "WARN", "ERROR", "DEBUG"

cache:
  enabled: {{ .Values.cloud.deployment.cds.config.cache.enabled }}
  default_cache_timeout: {{ .Values.cloud.deployment.cds.config.cache.defaultCacheTimeout }}

auth:
  cors_allowed_origins:
  {{- range .Values.cloud.deployment.cds.config.auth.corsAllowedOrigins }}
  - {{ . | quote }}
  {{- end }}

addr:
  host: {{ .Values.cloud.deployment.cds.config.addr.host }}
  port: {{ .Values.cloud.deployment.cds.containerPort }}

auth_server:
  host: {{ .Values.cloud.deployment.cds.config.identityServer.host }}
  port : {{ .Values.cloud.deployment.cds.config.identityServer.port }}
  introspectionEndpoint: {{ .Values.cloud.deployment.cds.config.identityServer.introspectionEndpoint }}
  tokenEndpoint: {{ .Values.cloud.deployment.cds.config.identityServer.tokenEndpoint }}
  revocationEndpoint: {{ .Values.cloud.deployment.cds.config.identityServer.revocationEndpoint }}
  claimsEndpoint: {{ .Values.cloud.deployment.cds.config.identityServer.claimsEndpoint }}
  client_id: "${AUTH_SERVER_CLIENT_ID}"
  client_secret: "${AUTH_SERVER_CLIENT_SECRET}"
  admin_username: "${AUTH_SERVER_ADMIN_USERNAME}"
  admin_password: "${AUTH_SERVER_ADMIN_PASSWORD}"
  isSystemAppGrantEnabled: {{ .Values.cloud.deployment.cds.config.identityServer.isSystemAppGrantEnabled }}
  required_scopes:
    profile:create:
      - "cds_profile_create"
    profile:update:
      - "cds_profile_update"
    profile:view:
      - "cds_profile_view"
    profile:delete:
      - "cds_profile_delete"

    unification_rules:view:
      - "cds_unification_rule_view"
    unification_rules:create:
      - "cds_unification_rule_create"
    unification_rules:update:
      - "cds_unification_rule_update"
    unification_rules:delete:
      - "cds_unification_rule_delete"

    profile_schema:view:
      - "cds_profile_schema_view"
    profile_schema:create:
      - "cds_profile_schema_create"
    profile_schema:update:
      - "cds_profile_schema_update"
    profile_schema:delete:
      - "cds_profile_schema_delete"

datasource:
  type: {{ .Values.cloud.deployment.cds.config.datasource.type }}
  hostname: {{ .Values.cloud.deployment.cds.config.datasource.hostname }}
  port: {{ .Values.cloud.deployment.cds.config.datasource.port }}
  username: "${DB_USERNAME}"
  password: "${DB_PASSWORD}"
  name: {{ .Values.cloud.deployment.cds.config.datasource.name | quote }}
  sslmode: {{ .Values.cloud.deployment.cds.config.datasource.sslmode | quote }}

tls:
  mtls_enabled: {{ .Values.cloud.deployment.cds.tls.mtls_enabled }}
  cert_dir: "{{ .Values.cloud.deployment.cds.tls.cert_dir }}"
  server_cert: "{{ .Values.cloud.deployment.cds.tls.server_cert }}"
  server_key: "{{ .Values.cloud.deployment.cds.tls.server_key }}"
  client_cert: "{{ .Values.cloud.deployment.cds.tls.client_cert }}"
  trust_store: "{{ .Values.cloud.deployment.cds.tls.trust_store }}"
