env: {{ .Values.cloud.deployment.cds.config.env }}

log:
  log_level: {{ .Values.cloud.deployment.cds.config.logLevel }} # "INFO", "WARN", "ERROR", "DEBUG"

cache:
  enabled: {{ .Values.cloud.deployment.cds.config.cache.enabled }}
  default_cache_timeout: {{ .Values.cloud.deployment.cds.config.cache.defaultCacheTimeout }}

auth:
  cors_allowed_origins:
  {{- range .Values.cloud.deployment.cds.config.auth.corsAllowedOrigins }}
  - {{ . | quote }}
  {{- end }}

addr:
  host: {{ .Values.cloud.deployment.cds.config.addr.host }}
  port: {{ .Values.cloud.deployment.cds.containerPort }}

auth_server:
  host: {{ .Values.cloud.deployment.cds.config.identityServer.serviceName }}
  port : {{ .Values.cloud.deployment.cds.config.identityServer.servicePort }}
  introspectionEndpoint: {{ .Values.cloud.deployment.cds.config.identityServer.introspectionEndpoint }}
  tokenEndpoint: {{ .Values.cloud.deployment.cds.config.identityServer.tokenEndpoint }}
  revocationEndpoint: {{ .Values.cloud.deployment.cds.config.identityServer.revocationEndpoint }}
  claimsEndpoint: {{ .Values.cloud.deployment.cds.config.identityServer.claimsEndpoint }}
  client_id: "${AUTH_SERVER_CLIENT_ID}"
  client_secret: "${AUTH_SERVER_CLIENT_SECRET}"
  admin_username: "${AUTH_SERVER_ADMIN_USERNAME}"
  admin_password: "${AUTH_SERVER_ADMIN_PASSWORD}"
  required_scopes:
    profile:create:
      - "internal_cdm_profile_create"
    profile:update:
      - "internal_cdm_profile_update"
    profile:view:
      - "internal_cdm_profile_view"
    profile:delete:
      - "internal_cdm_profile_delete"

    unification_rules:view:
      - "internal_cdm_unification_rule_view"
    unification_rules:create:
      - "internal_cdm_unification_rule_create"
    unification_rules:update:
      - "internal_cdm_unification_rule_update"
    unification_rules:delete:
      - "internal_cdm_unification_rule_delete"

    profile_schema:view:
      - "internal_cdm_profile_schema_view"
    profile_schema:create:
      - "internal_cdm_profile_schema_create"
    profile_schema:update:
      - "internal_cdm_profile_schema_update"
    profile_schema:delete:
      - "internal_cdm_profile_schema_delete"

sync:
  schema:
    enabled: {{ .Values.cloud.deployment.cds.config.sync.schema.enabled }}
    interval: {{ .Values.cloud.deployment.cds.config.sync.schema.interval }} # in seconds

datasource:
  type: {{ .Values.cloud.deployment.cds.config.datasource.type }}
  hostname: {{ .Values.cloud.deployment.cds.config.datasource.hostname }}
  port: {{ .Values.cloud.deployment.cds.config.datasource.port }}
  username: "${DATABASE_ADMIN_USERNAME}"
  password: "${DATABASE_ADMIN_PASSWORD}"
  name: {{ .Values.cloud.deployment.cds.config.datasource.name }}
  sslmode: {{ .Values.cloud.deployment.cds.config.datasource.sslmode }}
