# -------------------------------------------------------------------------------------
#
# Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.
#
# --------------------------------------------------------------------------------------

apiVersion: apps/v1
kind: Deployment
metadata:
  name: cds
  namespace: {{ .Release.Namespace }}
{{- with .Values.cloud.deployment.cds.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  progressDeadlineSeconds: {{ .Values.cloud.deployment.cds.progressDeadlineSeconds }}
  replicas: {{ default 1 .Values.cloud.deployment.cds.replicas }}
  minReadySeconds: {{ default 30 .Values.cloud.deployment.cds.minReadySeconds }}
  strategy:
    rollingUpdate:
      maxSurge: {{ default 1 .Values.cloud.deployment.cds.strategy.rollingUpdate.maxSurge }}
      maxUnavailable: {{ default 0 .Values.cloud.deployment.cds.strategy.rollingUpdate.maxUnavailable }}
    type: RollingUpdate
  selector:
    matchLabels:
      deployment: cds
      app: cds
  template:
    metadata:
      labels:
        deployment: cds
        app: cds
      annotations:
        checksum.cds.conf: {{ include (print $.Template.BasePath "/cds-config.yaml") . | sha256sum }}
    spec:
      automountServiceAccountToken: false
      securityContext:
        runAsUser: 10001
        seccompProfile:
          type: RuntimeDefault
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: deployment
                      operator: In
                      values:
                        - cds
                topologyKey: topology.kubernetes.io/zone
      hostNetwork: false
      hostAliases:
        - ip: "127.0.0.1"
          hostnames:
            - "{{ .Release.Name }}"
      containers:
        - name: cds
          image: "{{ .Values.cloud.deployment.cds.dockerRegistry }}/{{ .Values.cloud.deployment.cds.imageName }}@{{ .Values.cloud.deployment.cds.digest }}"
          livenessProbe:
            httpGet:
              path: /api/v1/health
              port: {{ .Values.cloud.deployment.cds.containerPort }}
              scheme: HTTPS
            initialDelaySeconds: {{ .Values.cloud.deployment.cds.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.cloud.deployment.cds.livenessProbe.periodSeconds }}
          readinessProbe:
            httpGet:
              path: /api/v1/ready
              port: {{ .Values.cloud.deployment.cds.containerPort }}
              scheme: HTTPS
            initialDelaySeconds: {{ .Values.cloud.deployment.cds.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.cloud.deployment.cds.readinessProbe.periodSeconds }}
          imagePullPolicy: {{ .Values.cloud.deployment.cds.imagePullPolicy }}
          resources:
            requests:
              memory: {{ .Values.cloud.deployment.cds.resources.requests.memory }}
              cpu: {{ .Values.cloud.deployment.cds.resources.requests.cpu }}
            limits:
              memory: {{ .Values.cloud.deployment.cds.resources.limits.memory }}
              cpu: {{ .Values.cloud.deployment.cds.resources.limits.cpu }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
            runAsGroup: 10001
            appArmorProfile: 
              type: "RuntimeDefault"
            capabilities:
              drop:
                - all
          ports:
            - containerPort: {{ .Values.cloud.deployment.cds.containerPort }}
              protocol: TCP
          volumeMounts:
            - name: cds-application-properties
              mountPath: /app/repository/conf/deployment.yaml
              subPath: deployment.yaml
              readOnly: true
            - name: cds-application-properties
              mountPath: /app/repository/conf/deployment.yaml
              subPath: deployment.yaml
              readOnly: true
            - name: cds-mtls-volume
              mountPath: /app/repository/certs/server.crt
              subPath: server.crt
              readOnly: true
            - name: cds-mtls-volume
              mountPath: /app/repository/certs/server.key
              subPath: server.key
              readOnly: true
            - name: cds-mtls-volume
              mountPath: /app/repository/certs/client.crt
              subPath: client.crt
              readOnly: true
            - name: cds-mtls-volume
              mountPath: /app/repository/certs/client.key
              subPath: client.key
              readOnly: true
            - name: cds-mtls-volume
              mountPath: /app/repository/certs/ca.crt
              subPath: ca.crt
              readOnly: true
          envFrom:
            - secretRef:
                name: cds-env-secret
      volumes:
        - name: cds-application-properties
          configMap:
            name: cds-config
            items:
             - key: deployment.yaml
               path: deployment.yaml
        - name: cds-mtls-volume
          configMap:
            name: scheduler-config
            items:
              - key: server.crt
                path: server.crt
              - key: server.key
                path: server.key
              - key: client.crt
                path: client.crt
              - key: client.key
                path: client.key
              - key: ca.crt
                path: ca.crt
