# -------------------------------------------------------------------------------------
#
# Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.
#
# --------------------------------------------------------------------------------------

# Name of the action.
name: Helm Chart Releaser

# Controls when the action will run.
on:
  # Triggers the workflow on push events but only for certain file changes on the main branch.
  push:
    branches: [ main ] # TODO: change the branch name to main after the MVP release
    paths:
      - 'install/helm/confs/**'
      - 'install/helm/templates/**'
      - 'install/helm/values.yaml'

  # Allows to run this workflow manually from the Actions tab.
  workflow_dispatch:

# Define jobs for the workflow.
jobs:
  # Define the job to do the release.
  helm-chart-releaser:
    # The type of runner that the job will run on.
    runs-on: ubuntu-latest

    # Define steps inside the job.
    steps:
      # Checks-out the repository from main(default) branch under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v2
        with:
          token: ${{secrets.GITHUB_BOT_TOKEN}}

      # Define a step to execute the script.
      - name: Run the helm-chart-releaser script
        env:
          TOKEN: ${{secrets.GITHUB_BOT_TOKEN}}
          GITHUB_BOT_NAME: ${{secrets.GITHUB_BOT_NAME}}
          GITHUB_BOT_EMAIL: ${{secrets.GITHUB_BOT_EMAIL}}
        run: bash .github/workflows/utils/helm-release-builder.sh $GITHUB_BOT_NAME $GITHUB_BOT_EMAIL $TOKEN $GITHUB_WORKSPACE
        id: release-builder
